.navbar-items{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding-right: 20px;
}


.navbar-title{
    gap: 10px;
    display: flex;
    font-size:xx-large;
    color: #263238;
    position : relative;
    text-decoration: none;
    padding: 1%;
    padding-left: 10%;
    background-color: #FFFFFF;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #4CAF4F;
}

.navbar-link{
    display: flex;
    font-size:x-large;
    color: #263238;
    position : relative;
    text-decoration: none;
    padding-top: 20px;
    background-color: #FFFFFF;
    font-weight: 600;
}

.navbar-title:hover{
    transition: 0.4s;
    text-decoration-color: #4CAF4F;
    color: #4CAF4F;
}

.logo:hover{
    transform: scale(1.02);
}

.fa-regular{
    position: relative;
    padding: 2.8% 0px;
}

.logo{
    height: 50px;
    background-color: white;
}

.links{
    display: flex;
    gap: 20px;
    background-color: white;
}

.navbar-link:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #4CAF4F;
    color: #4CAF4F;
}