.main-container{
    display: grid;
    grid-template: 0fr 1fr/ 1fr;
    height: 80vh;
}

.content-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* LEFT SECTION */

.left{
    display: grid;
    grid-template: 1.5fr 0.5fr 1fr/ 2fr 3fr 1fr;
    background-color: #F5F7FA;
}

.bot-button{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 15px;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #F5F7FA;
}

.top-button{
    display: grid;
    gap: 15px;
    justify-content: baseline;
    align-self: end;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #F5F7FA;
}

.search-button{
    color: white;
    cursor: pointer;
    border-radius: 50px;
    background-color: #4CAF4F;
    padding: 12px 56px;
    font-weight: 600;
    font-size: larger;
}

.insert-button{
    color: white;
    cursor: pointer;
    border-radius: 50px;
    width: 70%;
    background-color: #4CAF4F;
    padding: 12px 24px;
    font-weight: 600;
    font-size: larger;
}

.insert-button:hover{
    background-color: #68cd6c;
}

.upload-button:hover{
    background-color: #68cd6c;
}

.search-button:hover{
    background-color: #68cd6c;
}

.upload-button{
    color: white;
    cursor: pointer;
    border-radius: 50px;
    width: 70%;
    background-color: #4CAF4F;
    padding: 12px 64px;
    font-weight: 600;
    font-size: larger;
}

.upload-tag{
    justify-self: center;
}

.toggle-tag{
    cursor: pointer;
    align-items: center;
    padding: 12px 24px;
    background-color: #4CAF4F;
    color: white;
    border-radius: 50px;
    font-weight: 600;
}

.toggle-button :hover{
    background-color: #68cd6c;
}

/* RIGHT SECTION */

.right{
    display: grid;
    grid-template: 0.5fr 3fr 0.75fr/ 0.5fr 3fr 1fr;
    background-color: #F5F7FA;
}

.pic{
    border-style: solid;
    border-width: 5px;
    border-color: #DEDEDE;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 2/3;
    overflow: hidden;
    background-color: #F5F7FA;
}

.picture-tag{
    justify-self: center;
    grid-row: 3/4;
    grid-column: 2/3;
    color: #4CAF4F;
    background-color: #F5F7FA;
}

.icon{
    max-height: 350px;
    object-fit: cover;
}